@page "/projectscloud"
@using BrowserInteractLabeler.Component.ProjectsBox



<div class="row bg-light text-center" style="">

    <div class="col-5"></div>

    <div class="col-2">This is a stub page</div>
     <div class="col-5"></div>

</div>

