@page "/settingspage"
@inherits SettingsPageModel
@using BrowserInteractLabeler.Component.SettingsBox


<div class="row bg-light m-0" style="">
    <div class="col-2 m-0"></div>
    <div class="col-8 m-0">
        <TabSettingsPanel
            HeightPanel="@_settingsHandler.GetHeightSettingsPanel">
            <ColorMapPanelTemplate>
                <ColorLabelPanel
                    ColorModels="_serviceConfigs.Colors"
                    UpdateColorModel="_settingsHandler.UpdateColorModelAsync">
                </ColorLabelPanel>
            </ColorMapPanelTemplate>
            <RootSettingTemplate>
                <RootSettingPanel
                    Configs="@_serviceConfigs"
                    UpdateServiceConfigs="_settingsHandler.UpdateServiceConfigsAsync">

                </RootSettingPanel>
            </RootSettingTemplate>

        </TabSettingsPanel>
    </div>

    <div class="col-2"></div>

</div>