@inherits LayoutComponentBase

<div class="page" oncontextmenu = "return false;" style="user-select: none;">
    <main>
        <article class="content" style=" height: 99.5vh; width: 99.5vw; margin: 5px;">
            @Body
        </article>
    </main>
</div>

