@inherits TabSettingsPanelModel


<div class="row m-0">
    <div class="col-12 ms-1 me-1 pt-1 ">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link  prevent-select" id="color-tab" data-bs-toggle="tab" data-bs-target="#color-tab-pane"
                        type="button" role="tab" aria-controls="color-tab-pane" aria-selected="true" >
                    Color Label
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link active prevent-select" id="root_settings-tab" data-bs-toggle="tab" data-bs-target="#root_settings-tab-pane" type="button"
                        role="tab" aria-controls="root_settings-tab-pane" aria-selected="false">
                    Root Settings
                </button>
            </li>
        </ul>
    </div>
</div>


<div class="tab-content overflow-auto" id="myTabContent" style="height: @GetHeightPanel();  width: 100%; ">

    <div class="tab-pane fade  " id="color-tab-pane" role="tabpanel" aria-labelledby="color-tab" >
        <div class="ps-1 pe-1 " style="overflow: hidden;">
            @ColorMapPanelTemplate
        </div>
    </div>

    <div class="tab-pane fade show active" id="root_settings-tab-pane" role="tabpanel" aria-labelledby="root_settings-tab" >
        <div class="ps-2 pe-2" style="overflow: hidden;">
            @RootSettingTemplate
        </div>

    </div>

</div>