@rendermode InteractiveServer

<div class="row p-0 m-0" style=" height: 5.0vh; width: 100vw;">
    <div class="col-2 p-0 m-0 bottom-shadow settings-panel" style="height: 100%">
        navigation page
    </div>

    <div class="col-10 p-0 m-0 " style="height: 100%">
        <div class="row p-0 m-0 text-center" style="height: 100%">
            <div class="col-4 p-0 m-0" style="height: 100%">
                save, rect, poligon,line,point
            </div>

            <div class="col-1 p-0 m-0" style="height: 100%">
                color laebel
            </div>

            <div class="col-1 p-0 m-0  " style="height: 100%">
                <div class="row p-0 m-0  " style="height: 98%;">
                    <div class="col-6 m-0   " style="height: 100%; padding: 2px"
                         @onclick="@(OnClickBackImg)">
                        <div class=" p-0 m-0 div-menu-center bottom-shadow settings-panel" style="height: 100%; width: 100%">
                            <span role="img" class="anticon  text-vertical-center">
                                <img src="icons/004_go_back.svg" width="25" height="25"/>
                            </span>
                        </div>
                    </div>
                    
                    <div class="col-6 m-0   " style="height: 100%; padding: 2px"
                         @onclick="@(OnClickNextImg)">
                        <div class=" p-0 m-0 div-menu-center bottom-shadow settings-panel" style="height: 100%; width: 100%">
                            <span role="img" class="anticon  text-vertical-center">
                                <img src="icons/005_go_next.svg" width="25" height="25"/>
                            </span>
                        </div>
                    </div>
                    
            
                </div>
            </div>

            <div class="col-2 p-0 m-0">
                indexImg
            </div>

            <div class="col-4 p-0 m-0">
                проегрусс бар с доп информацией.
            </div>
        </div>
    </div>


</div>