@inherits DrawingPanelModel

test 0
<div class="row  bg-light p-0 m-0"  style="width: 400px; height: 400px" >
    <div class="col-md-leftPanel  border-end p-1  " style="" >
        @ToolsPanelTemplate
    </div>
    <div class="col-md-imagePanel p-0" style="">
        @ImagesPamelTemplate
    </div>

    <div class="col-md-rightPanel  border-start p-0 m-0" style="">
        @TabBoxPanelTemplate
    </div>
    
</div>