@inherits NavigationPanelModel



<div class="row p-0 m-0 no-select" id="main_navigation_panel">

    <div class="col-3 text-center border-end" style="">
        @SavePanelTemplate
    </div>
    <div class="col-5 text-center border-end" style="">
       @SwipePanelTemplate
    </div>

    <div class="col-4 text-center border-end " style="">
       @ProgressPanelTemplate
    </div>


</div>