@inherits RootSettingPanelModel


<div class="row  m-0" style="">
    <div class="col-12">
        <div class="row "></div>
        <div class="row ps-0 my-3 "
             style="border:1px solid ; border-radius: 5px; border-color: #49505c; height: 45px; background: #ffffff; overflow: hidden;">
            <div class="col-2 py-2 text-start color-text-main" style="">
                Path to import tasks:
            </div>
            <div class="col-10  py-2  text-end color-text-main">
                <input type="text" class="form-control text-center" data-mdb-toggle="tooltip" data-mdb-placement="right"
                       title="path db import" placeholder="" aria-describedby="button-addon1"
                       style=" padding: 0px 4px 1px; "
                       @bind="@Configs.PathSqlDb">

            </div>

         
        </div>

        <div class="row ps-0 my-3 "
             style="border:1px solid ; border-radius: 5px; border-color: #49505c; height: 45px; background: #ffffff; overflow: hidden;">
            <div class="col-2 py-2 text-start color-text-main" style="">
                Path to export tasks:
            </div>
            <div class="col-10  py-2  text-end ">
                <input type="text" class="form-control text-center color-text-main" data-mdb-toggle="tooltip" data-mdb-placement="right"
                       title="path db export" placeholder="" aria-describedby="button-addon1"
                       style=" padding: 0px 4px 1px; "
                       @bind="@Configs.ExportCompletedTasks">

            </div>

     
        </div>

        <div class="row ps-0 my-3 "
             style="border:1px solid ; border-radius: 5px; border-color: #49505c; height: 45px; background: #ffffff; overflow: hidden;">

            <div class="col-12  m-0 py-1 text-center" style="">
                <button type="button" class="btn btn-outline-primary" @onclick="@ButtonClickSaveAsync">
                    Save
                </button>
            </div>
        </div>

    </div>


</div>