@inherits NavMenuModel

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #d8d8d8;  height: 42px;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BIL</a>


        <div class="collapse navbar-collapse prevent-select" id="">
            <ul class="navbar-nav me-auto mb-1 mx-2 mb-lg-0 top-menu nav-bar-style-text">
                <li class="nav-item mx-2">
                    <a class="nav-link" href="settingspage">Settings</a>
                </li>
                
                <li class="nav-item mx-2">
                    <a class="nav-link " href="projectslocal">DB_storage</a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link" href="marker">Jobs</a>
                </li>

            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            </ul>
        </div>

    </div>
</nav>