@rendermode InteractiveServer

<div class="row m-0 " style="height: 100%; ">

   <div class="col-4 m-0 padding-1px">
      <div class=" p-0 m-0 div-menu-center bottom-shadow button-panel"
           title="Выбор Task"
           style="height: 100%; width: 100%" @onclick="@(ClickPageLoadDatabes)">
         <span role="img" class="anticon  text-vertical-center">
            <img src="icons/020_database.svg" width="25" height="25"/>
         </span>
      </div>
   </div>
   

   <div class="col-4 m-0 padding-1px">
      <div class=" p-0 m-0 div-menu-center bottom-shadow button-panel"
           title="Настройки программы"
           style="height: 100%; width: 100%" @onclick="@(ClickPageSettings)">
         <span role="img" class="anticon  text-vertical-center">
            <img src="icons/021_list.svg" width="25" height="25"/>
         </span>
      </div>
   </div>

   <div class="col-4 m-0 padding-1px">
      <div class=" p-0 m-0 div-menu-center bottom-shadow button-panel"
           title="Страница раметки"
           style="height: 100%; width: 100%" @onclick="@(ClickPageMarker)">
         <span role="img" class="anticon  text-vertical-center">
            <img src="icons/019_notebook.svg" width="25" height="25"/>
         </span>
      </div>
   </div>
</div>

